route[SET_SOCKET] {
    if(isflagset(FLT_FROM_CORE)) {
        # For request from CORE, use PUBLIC udp socket
        force_send_socket(PUBLIC_UDP_SOCKET);
        xlog("L_INFO", "SETTING OUTBOUND SOCKET TO PUBLIC UDP\n");
        return 1;
    }
    if(isflagset(FLT_FROM_PUBLIC)) {
        # For request from PUBLIC, use CORE udp socket
        force_send_socket(CORE_UDP_SOCKET);
        xlog("L_INFO", "SETTING OUTBOUND SOCKET TO CORE UDP\n");
        return 1;
    }
}